*{
    font-family:Arial, Helvetica,Verdana;
}
body{
    background-color:#6B5E62;
    width: 800px;
    margin-left: auto;
    margin-right: auto
}

form{
    background-color: #D5CAD6;
    border-radius: 30px;
    padding:10px;
}
legend{
    font-weight: bold;
}