.main{
    height: 220vh;
    width: 100%;
    background-color: #F5EDDC;
    background-size: cover;
    background-position: center;
}

.logo{
    color:#EB1D36;
    font-size: 35px;
    letter-spacing: 1px;
}

nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left:8%;
    padding-right: 8%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: #EB1D36;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color:#FA9494;
    transition: .4s;
}

.contacts{
    background-color:#FA9494;
    color: #EB1D36;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.contacts:hover{
    transform: scale(1.2);
}

.content{
    position: absolute;
    top:40%;
    left: 13%;
}
.picture{
    position: absolute;
    top: 20%;
    right: 13%;
    background-color:#CFD2CF;
    border: 2px solid transparent;
    padding: 10px 25px;


}
h1{
    margin: 25px 0px 25px -50px;
    font-weight: bold;
    font-size: 50px;
    background-color: #CFD2CF;
    color:#EB1D36;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 33px;
}

h3{
    font-size: 35px;
}
h2{
    font-size: 30px;
    text-decoration: underline;
    
}
.contact{
    position: absolute;
    top: 140%;
    left: 10%;
    border: 2px solid transparent;
    border-color: #CFD2CF;
    background-color: #CFD2CF;
    color:#EB1D36 ;
    border-radius: 33px;
    padding:15px 10px 20px 20px;
}

.about{
    position:absolute;
    top: 100%;
    right:13%;
    left: 55%;
    border: 2px solid transparent;
    border-color: #CFD2CF;
    background-color: #CFD2CF;
    color:#EB1D36 ;
    border-radius: 33px;
    padding:15px 10px 20px 20px;

}

h4{
    font-size: 40px;
    margin: 18px 0px 18px;
}

li{
    padding:5px 0px 5px;
}

.p1{
    font-size: 35px;
    padding: 10px 0px 10px;
    text-decoration: underline;}

.p2{
    font-size: 25px;
    
}

.span2{
    font-size: 23px;
    font-weight: bold;
    color:midnightblue;
}

.span3{
    font-size: 50px;
    color:#FA9494;
}